* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

//* Tips form styles *//
dialog {
	background: rgba(0, 0, 0, 0.556);
}

ul li:nth-child(odd) {
	background-color: rgb(19, 15, 10);
}

h3 {
	font-weight: bold;
}
