@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

//* Drawer styling *//
.drawer-content {
	height: 100%;
}

.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
	visibility: hidden;
}

.drawer-toggle ~ .drawer-side {
	overflow-y: auto;
}

.drawer.drawer-end > .drawer-toggle:checked ~ .drawer-content {
	--tw-translate-x: 0rem;
}
